body {
    background-color: #13422e;
    color: #fff;
}

.card-img-top {
    height: 20rem;
}

.carousel .carousel-item {
    transition-duration: 2s;
}

h1 {
    font-size: 70px;
    padding-bottom: 10px;
}

.img-thumbnail {
    height: 50px;
    width: 50px;
}

.img-size {
    height: 40px;
}